<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easywork.hengdong.dao.PersonMapper">
  <resultMap id="BaseResultMap" type="com.easywork.hengdong.pojo.Person">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name_of_person" jdbcType="VARCHAR" property="nameOfPerson" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="identity_document_number" jdbcType="VARCHAR" property="identityDocumentNumber" />
    <result column="mobile_telephone_number" jdbcType="VARCHAR" property="mobileTelephoneNumber" />
    <result column="telephone_number" jdbcType="VARCHAR" property="telephoneNumber" />
    <result column="identity_photo" jdbcType="VARCHAR" property="identityPhoto" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="nationality" jdbcType="VARCHAR" property="nationality" />
    <result column="birth_date" jdbcType="VARCHAR" property="birthDate" />
    <result column="communication_number" jdbcType="VARCHAR" property="communicationNumber" />
    <result column="identity_certification_unit" jdbcType="VARCHAR" property="identityCertificationUnit" />
    <result column="identity_period_start_date" jdbcType="VARCHAR" property="identityPeriodStartDate" />
    <result column="identity_period_end_date" jdbcType="VARCHAR" property="identityPeriodEndDate" />
    <result column="qualification_certificate_number" jdbcType="VARCHAR" property="qualificationCertificateNumber" />
    <result column="qualification_certificate_categorycode" jdbcType="VARCHAR" property="qualificationCertificateCategorycode" />
    <result column="qualification_certificate_certification_unit" jdbcType="VARCHAR" property="qualificationCertificateCertificationUnit" />
    <result column="license_initial_collection_date" jdbcType="VARCHAR" property="licenseInitialCollectionDate" />
    <result column="qualification_certificate_period_start_date" jdbcType="VARCHAR" property="qualificationCertificatePeriodStartDate" />
    <result column="qualification_certificate_period_end_date" jdbcType="VARCHAR" property="qualificationCertificatePeriodEndDate" />
    <result column="qualification_certificate_photo" jdbcType="VARCHAR" property="qualificationCertificatePhoto" />
    <result column="personal_identity_document" jdbcType="VARCHAR" property="personalIdentityDocument" />
    <result column="country_name" jdbcType="VARCHAR" property="countryName" />
    <result column="licenseinitial_collection_date" jdbcType="VARCHAR" property="licenseinitialCollectionDate" />
    <result column="vehicle_type_permitted_to_drive" jdbcType="VARCHAR" property="vehicleTypePermittedToDrive" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="date_or_time_or_period" jdbcType="VARCHAR" property="dateOrTimeOrPeriod" />
    <result column="certification_unit" jdbcType="VARCHAR" property="certificationUnit" />
    <result column="vehicle_type_permitted_photo" jdbcType="VARCHAR" property="vehicleTypePermittedPhoto" />
    <result column="enterprise_name" jdbcType="VARCHAR" property="enterpriseName" />
    <result column="place_or_location" jdbcType="VARCHAR" property="placeOrLocation" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>